body{
  background-color: steelblue;
  color: maroon;
  text-align: center;
}

h1{
  background-color: maroon;
  color: steelblue;
}

textarea{
  background-color: maroon;
  color: steelblue;
  border-radius: 10px;
}

ul{
  list-style-type: none;
  padding: 10px;
}

li{
  padding: 5px;
}

button{
  background-color: maroon;
  color: steelblue;
  border-radius: 10px;
}

.taskList{
  border-style: solid;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
